[Desktop Entry]
Name=TRURL B
GenericName=RPN Calculator
Version=1.0.1
Comment=TRURL B Calculator
Exec="TRURL_B"
Terminal=false
Type=Application
Icon=trurl_b.png
Categories=Application;Education;Science;Calculator
